body {
    font-family: "Lucida Grande", Arial, sans-serif;
    background: #000000;
    color: #FFFFFF;
  }

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 525px;
  height: auto;
}

h1{
  font-size: 64px;
  text-align: center;
}

h2{
  font-size: 30px;
  text-shadow: 5px 5px 2px #808080;
}

p{
  font-size: 24px;
  padding-top: 20px;
}

div{
  height: 150px;
  padding: 25px 25px 25px 25px;
}

#red{
  text-align: right;
  background: #FF0000;
}

#blue{
  text-align: left;
  background:#0000FF;
}

#yellow{
  text-align: right;
  background: #FFFF00;
}

#yellow h2{
  color: #000000;
  text-shadow: 5px 5px 2px #c7e2c7;
}

#yellow p{
  color: #000000;
}

#green{
  text-align: left;
  background: #008000;
}

footer p {
  text-align: right;
  padding-bottom: 10px;
  padding-right: 10px;
}